<div class="card text-white bg-primary mb-3 mt-5" >
    <div class="card-header text-center"><h2>FILTRA NOTICIAS POR PAÍS Y CATEGORÍA</h2></div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form (ngSubmit) = 'buscarNoticia()'>
                      <div class="form-group">
                        <select name="categoria" class="form-control form-control-lg" [(ngModel)] = 'categoriaSelected'>
                          <option [value]="categoria.value" *ngFor = "let categoria of categorias" >{{categoria.nombre}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select name="pais" class="form-control form-control-lg" [(ngModel)] = 'paisSelected'>
                          <option [value]="pais.value" *ngFor = "let pais of paises">{{pais.nombre}}</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-secondary btn-lg btn-block mt-4">BUSCAR</button>
                  </form>
            </div>
        </div>
    </div>
</div>
